
body{
    background-color: #cc7644c7;
}
h1 {
    text-align: center;
    color: #64813f;
}
p {
    text-align: left ;
    color: #000000;
}
th {
    background-color: #80862b;
    color: rgb(0, 0, 0);
}
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {    
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}   
tr :hover {
    background-color: #922121;
    color: #d8dfe7;
}   
td {
    cursor: pointer;
}
.WESamstag {
    color: #ce6d6d;
}
