
body{
    background-color: #faf9f8c7;
}
h1 {
    text-align: center;
    color: #64813f;
}
p {
    text-align: center ;
    color: #000000;
}
th {
    background-color: #80862b;
    color: rgb(0, 0, 0);
}
table {
    border-collapse: collapse;
    width: 20%;
}
th, td {    
    border: 1px solid rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
}   
td.WE_Sonntag {
    background-color: #64813f;
    color: rgb(245, 6, 6);
}
tr :hover {
    background-color: #e95959;
    color: #d8dfe7;
}   
td {
    color: #070707;
    cursor: pointer;
}
td.WE_Samstag {
    color: rgb(109, 132, 233);
}

.container {
    display: flex;
}