
body{
    background-color: #faf9f8c7;
}

h1 {
    grid-area: Header;
    text-align: center;
    color: #64813f;
}

p {
    color: #000000;
}

th {
    background-color: #80862b;
    color: rgb(0, 0, 0);
}
table {
    border-collapse: collapse;
}

#Kalender {
    grid-area: Kalender;
}

th, td {    
    border: 1px solid rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
}   
td.WE_Sonntag {
    background-color: #64813f;
    color: rgb(245, 6, 6);
}
tr :hover {
    background-color: #e95959;
    color: #d8dfe7;
}   
td {
    color: #070707;
    cursor: pointer;
}
td.WE_Samstag {
    color: rgb(109, 132, 233);
}

.container {
    margin: 24px 0px; 
    display: grid;
    grid-template-areas:    "Header Header Header"
                            "Intro Intro Intro"
                            "Kalender History History"
                            "Bild1 Bild2 Bild3";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

#History {
    grid-area: History;
}

.Monat {
    display: grid;
    grid-template-columns: min-content auto min-content;
}

#Intro {font-size
    grid-area: Intro;
    text-align: center;
}

#Image1 {
    grid-area: Bild1;
}

#Image2 {
    grid-area: Bild2;
}

#Image3 {
    grid-area: Bild3;
}

#Kalender table {
    width: 100%;
}

.Image {
    width: 100%;
}

.Image img {
    width: 100%;
}