
body{
    background-color: #cc7644c7;
}
h1 {
    text-align: center;
    color: #64813f;
}
p {
    text-align: left ;
    color: #000000;
}
th {
    background-color: #80862b;
    color: rgb(0, 0, 0);
}
table {;
    border: 2px solid black;
    border-radius: 5px; 
    width: 70%;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: #000000;
    padding: 8px;
    text-align: center;
}
tr :hover {
    background-color: #922121;
    color: #2e77d6;
    si
 }
    